.button {
  cursor: pointer;
  font: inherit;
  border-radius: 25px;
  border: none;
  background-color: #4d1601;
  padding: 0.75rem 3rem;
  display: flex;
  color: white;
  justify-content: space-around;
  align-items: center;
  font-weight: bold;
}

.button:hover,
.button:active {
  background-color: #2c0d00;
}

.icon {
  width: 1.35rem;
  height: 1.35rem;
  margin-right: 0.5rem;
}

.badge {
  background-color: #b94517;
  padding: 0.25rem 1rem;
  border-radius: 25px;
  margin-left: 1rem;
  font-weight: bold;
}

.button:hover .badge,
.button:active .badge {
  background-color: #92320c;
}
